<a href="https://colab.research.google.com/github/kailashshirke/Data_science/blob/main/EDA_2_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Label Encoder

In [5]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [6]:
data =pd.read_csv("/content/iris2.csv",index_col=0)

In [3]:
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [4]:
#Changes does not effect the "data" dataframe
data1=data.copy()

In [5]:
labelencoder = LabelEncoder()
data1.iloc[:, -1] = labelencoder.fit_transform(data1.iloc[:,-1])

In [6]:
data1

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
1             5.1          3.5           1.4          0.2        0
2             4.9          3.0           1.4          0.2        0
3             4.7          3.2           1.3          0.2        0
4             4.6          3.1           1.5          0.2        0
5             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
146           6.7          3.0           5.2          2.3        2
147           6.3          2.5           5.0          1.9        2
148           6.5          3.0           5.2          2.0        2
149           6.2          3.4           5.4          2.3        2
150           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

### One Hot Encoder

#### Using sklearn

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
data2=pd.read_csv("iris2.csv")

In [9]:
data2

     Unnamed: 0  Sepal.Length  ...  Petal.Width    Species
0             1           5.1  ...          0.2     setosa
1             2           4.9  ...          0.2     setosa
2             3           4.7  ...          0.2     setosa
3             4           4.6  ...          0.2     setosa
4             5           5.0  ...          0.2     setosa
..          ...           ...  ...          ...        ...
145         146           6.7  ...          2.3  virginica
146         147           6.3  ...          1.9  virginica
147         148           6.5  ...          2.0  virginica
148         149           6.2  ...          2.3  virginica
149         150           5.9  ...          1.8  virginica

[150 rows x 6 columns]

In [10]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

In [11]:
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(data2[['Species']]).toarray())

In [12]:
enc.fit_transform(data2[['Species']])

<150x3 sparse matrix of type '<class 'numpy.float64'>'
	with 150 stored elements in Compressed Sparse Row format>

In [13]:

enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [14]:
# merge with main df 
data_final = data2.iloc[:,0:4].join(enc_df)
data_final

     Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length    0    1    2
0             1           5.1          3.5           1.4  1.0  0.0  0.0
1             2           4.9          3.0           1.4  1.0  0.0  0.0
2             3           4.7          3.2           1.3  1.0  0.0  0.0
3             4           4.6          3.1           1.5  1.0  0.0  0.0
4             5           5.0          3.6           1.4  1.0  0.0  0.0
..          ...           ...          ...           ...  ...  ...  ...
145         146           6.7          3.0           5.2  0.0  0.0  1.0
146         147           6.3          2.5           5.0  0.0  0.0  1.0
147         148           6.5          3.0           5.2  0.0  0.0  1.0
148         149           6.2          3.4           5.4  0.0  0.0  1.0
149         150           5.9          3.0           5.1  0.0  0.0  1.0

[150 rows x 7 columns]

#### Using Pandas

In [15]:

import pandas as pd

In [16]:
data3 =pd.read_csv("iris2.csv",index_col=0)

In [17]:
data_encoded=pd.get_dummies(data3)

In [18]:
data_encoded

     Sepal.Length  Sepal.Width  ...  Species_versicolor  Species_virginica
1             5.1          3.5  ...                   0                  0
2             4.9          3.0  ...                   0                  0
3             4.7          3.2  ...                   0                  0
4             4.6          3.1  ...                   0                  0
5             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
146           6.7          3.0  ...                   0                  1
147           6.3          2.5  ...                   0                  1
148           6.5          3.0  ...                   0                  1
149           6.2          3.4  ...                   0                  1
150           5.9          3.0  ...                   0                  1

[150 rows x 7 columns]

#### IsolationForest

In [19]:
from sklearn.ensemble import IsolationForest

In [20]:
data =pd.read_csv("iris2.csv",index_col=0)
data_encoded=pd.get_dummies(data)

In [21]:
data_encoded

     Sepal.Length  Sepal.Width  ...  Species_versicolor  Species_virginica
1             5.1          3.5  ...                   0                  0
2             4.9          3.0  ...                   0                  0
3             4.7          3.2  ...                   0                  0
4             4.6          3.1  ...                   0                  0
5             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
146           6.7          3.0  ...                   0                  1
147           6.3          2.5  ...                   0                  1
148           6.5          3.0  ...                   0                  1
149           6.2          3.4  ...                   0                  1
150           5.9          3.0  ...                   0                  1

[150 rows x 7 columns]

In [22]:

# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  "X does not have valid feature names, but"

IsolationForest(contamination=0.01, random_state=10)

In [23]:

# predictions
y_pred_outliers = clf.predict(data_encoded)

In [24]:
#-1 for outliers and 1 for inliers.
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [25]:
data_encoded

     Sepal.Length  Sepal.Width  ...  Species_versicolor  Species_virginica
1             5.1          3.5  ...                   0                  0
2             4.9          3.0  ...                   0                  0
3             4.7          3.2  ...                   0                  0
4             4.6          3.1  ...                   0                  0
5             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
146           6.7          3.0  ...                   0                  1
147           6.3          2.5  ...                   0                  1
148           6.5          3.0  ...                   0                  1
149           6.2          3.4  ...                   0                  1
150           5.9          3.0  ...                   0                  1

[150 rows x 7 columns]

In [26]:
## Let us add a new data point which is outlier
data_encoded.loc[150]=[20,40,30,50,1,0,0]

In [27]:
data_encoded

     Sepal.Length  Sepal.Width  ...  Species_versicolor  Species_virginica
1             5.1          3.5  ...                   0                  0
2             4.9          3.0  ...                   0                  0
3             4.7          3.2  ...                   0                  0
4             4.6          3.1  ...                   0                  0
5             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
146           6.7          3.0  ...                   0                  1
147           6.3          2.5  ...                   0                  1
148           6.5          3.0  ...                   0                  1
149           6.2          3.4  ...                   0                  1
150          20.0         40.0  ...                   0                  0

[150 rows x 7 columns]

In [28]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)
# predictions
y_pred_outliers = clf.predict(data_encoded)
y_pred_outliers

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  "X does not have valid feature names, but"

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [29]:
data_encoded['scores']=clf.decision_function(data_encoded)

In [30]:
data_encoded['anomaly']=clf.predict(data_encoded.iloc[:,0:7])

In [31]:
data_encoded

     Sepal.Length  Sepal.Width  ...    scores  anomaly
1             5.1          3.5  ...  0.202073        1
2             4.9          3.0  ...  0.185411        1
3             4.7          3.2  ...  0.174012        1
4             4.6          3.1  ...  0.182873        1
5             5.0          3.6  ...  0.199432        1
..            ...          ...  ...       ...      ...
146           6.7          3.0  ...  0.164313        1
147           6.3          2.5  ...  0.133436        1
148           6.5          3.0  ...  0.179224        1
149           6.2          3.4  ...  0.125229        1
150          20.0         40.0  ... -0.287374       -1

[150 rows x 9 columns]

In [32]:
#Print the outlier data points
data_encoded[data_encoded['anomaly']==-1]

     Sepal.Length  Sepal.Width  ...    scores  anomaly
107           4.9          2.5  ... -0.009111       -1
150          20.0         40.0  ... -0.287374       -1

[2 rows x 9 columns]

### PPS score

In [1]:
#install the package
!pip install ppscore

Requirement already satisfied: ppscore in /usr/local/lib/python3.7/dist-packages (1.2.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ppscore) (1.1.5)
Requirement already satisfied: scikit-learn<1.0.0,>=0.20.2 in /usr/local/lib/python3.7/dist-packages (from ppscore) (0.24.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->ppscore) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.1.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.4.1)

In [2]:
import ppscore as pps

In [7]:
#pps.score(df, "feature_column", "target_column")  syntax
pps.score(data, "Sepal.Length", "Petal.Length")

{'baseline_score': 1.4886666666666668,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'model': DecisionTreeRegressor(),
 'model_score': 0.6692708968366863,
 'ppscore': 0.550422595049248,
 'x': 'Sepal.Length',
 'y': 'Petal.Length'}

In [8]:
#calculate the whole PPS matrix
pps.matrix(data)

               x             y  ...  model_score                     model
0   Sepal.Length  Sepal.Length  ...     1.000000                      None
1   Sepal.Length   Sepal.Width  ...     0.364704   DecisionTreeRegressor()
2   Sepal.Length  Petal.Length  ...     0.669271   DecisionTreeRegressor()
3   Sepal.Length   Petal.Width  ...     0.366339   DecisionTreeRegressor()
4   Sepal.Length       Species  ...     0.658333  DecisionTreeClassifier()
5    Sepal.Width  Sepal.Length  ...     0.679897   DecisionTreeRegressor()
6    Sepal.Width   Sepal.Width  ...     1.000000                      None
7    Sepal.Width  Petal.Length  ...     1.232058   DecisionTreeRegressor()
8    Sepal.Width   Petal.Width  ...     0.559017   DecisionTreeRegressor()
9    Sepal.Width       Species  ...     0.454805  DecisionTreeClassifier()
10  Petal.Length  Sepal.Length  ...     0.324794   DecisionTreeRegressor()
11  Petal.Length   Sepal.Width  ...     0.313427   DecisionTreeRegressor()
12  Petal.Length  Petal.Length  ...     1.000000                      None
13  Petal.Length   Petal.Width  ...     0.164425   DecisionTreeRegressor()
14  Petal.Length       Species  ...     0.925512  DecisionTreeClassifier()
15   Petal.Width  Sepal.Length  ...     0.421816   DecisionTreeRegressor()
16   Petal.Width   Sepal.Width  ...     0.246474   DecisionTreeRegressor()
17   Petal.Width  Petal.Length  ...     0.300302   DecisionTreeRegressor()
18   Petal.Width   Petal.Width  ...     1.000000                      None
19   Petal.Width       Species  ...     0.953215  DecisionTreeClassifier()
20       Species  Sepal.Length  ...     0.404204   DecisionTreeRegressor()
21       Species   Sepal.Width  ...     0.266416   DecisionTreeRegressor()
22       Species  Petal.Length  ...     0.319479   DecisionTreeRegressor()
23       Species   Petal.Width  ...     0.157460   DecisionTreeRegressor()
24       Species       Species  ...     1.000000                      None

[25 rows x 9 columns]